@page
@model diplomska.Pages.Skladiscnik.SkladiščnikPageModel
@{
    ViewData["Title"] = "Skladiščnik!";
}
<p>This is the page for the Skladiščnik role.</p>

<a href="/Skladiščnik/Index" class="btn btn-dark">Skladiščnik index</a>