@page
@using diplomska.Properties
@model diplomska.Pages.Skladiscnik.SkladiščnikPageModel
@{
    ViewData["Title"] = "Skladiščnik!";
}
<head>
    <link rel="stylesheet" href="~/css/skladiscnik.css" />
</head>
<p>@Resources.page_for</p>

<a href="/Skladiščnik/Index" class="btn btn-dark">Skladiščnik index</a>