@page "{id}"
@using diplomska.Properties
@model diplomska.Pages.Admin.EditUserModel
@{
    ViewData["Title"] = "Edit User";
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<h2>@Resources.de_edit_user</h2>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Input.Id" type="hidden" />

    <div class="form-floating mb-3">
        <input asp-for="Input.UserName" class="form-control" />
        <label asp-for="Input.UserName"></label>
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" />
        <label asp-for="Input.Email"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <select asp-for="Input.Role" class="form-select" asp-items="new SelectList(Model.AllRoles)">
            <option value="">@Resources.eu_select_role</option>
        </select>
        <label asp-for="Input.Role"></label>
        <span asp-validation-for="Input.Role" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.NewPassword" class="form-control" />
        <label asp-for="Input.NewPassword"></label>
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">@Resources.save_changes</button>
    <a asp-page="/Admin/ManageUsers" class="btn btn-secondary">@Resources.cb_cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
