@page
@using diplomska.Properties
@model diplomska.Pages.Admin.SetSmtpPasswordModel
@{
    ViewData["Title"] = "Set SMTP Password";
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<h2>@Resources.set_smtp_password</h2>

@if (Model.Message != null)
{
    <div class="alert alert-success">@Model.Message</div>
}

<form method="post">
    <div class="form-group">
        <label for="Password">@Resources.smtp_password_</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">@Resources.save_smtp</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
