@page
@model diplomska.Pages.Admin.SetSmtpPasswordModel
@{
    ViewData["Title"] = "Set SMTP Password";
}

<h2>Set SMTP Password</h2>

@if (Model.Message != null)
{
    <div class="alert alert-success">@Model.Message</div>
}

<form method="post">
    <div class="form-group">
        <label for="Password">SMTP Password</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
