@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot Passowrd Confirmation";
}

<h1>@ViewData["Title"] </h1>
<p>If an account exists for the provided email, a password reset link will be sent.</p>
<p><a asp-page="/Account/Login">Return to login</a>