@page
@model diplomska.Pages.Izmenovodja.ConfirmRegisterModel
@{
    ViewData["Title"] = "Confirm New Registration";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Pending Registrations</h2>
        <ul class="list-group">
            @foreach (var user in Model.PendingUsers)
            {
                <li class="list-group-item">
                    @user.Email
                    <form method="post" asp-route-id="@user.Id" class="d-inline">
                        <button type="submit" class="btn btn-success btn-sm">Approve</button>
                    </form>
                </li>
            }
        </ul>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}