@page
@using diplomska.Properties
@model diplomska.Pages.Izmenovodja.IzmenovodjaPageModel
@{
    ViewData["Title"] = "Izmenovodja!";
}
<head>
    <link rel="stylesheet" href="~/css/izmenovodja.css"/>
</head>

<h1 class="page-header text-center">Lep pozdrav, Izmenovodja!</h1>
<p class="text-center lead">@Resources.shit_manager</p>

<div class="card">
    <div class="card-header">
        Quick Actions
    </div>
    <div class="card-body">
        <a asp-area="" asp-page="/Izmenovodja/ConfirmRegister" class="btn btn-dark">@Resources.confirm_account</a>
        <a asp-area="" asp-page="/Izmenovodja/Index" class="btn btn-dark">@Resources.to_index</a>
    </div>
</div>
