@page
@model diplomska.Pages.Izmenovodja.IzmenovodjaPageModel
@{
    ViewData["Title"] = "Izmenovodja!";
}

<h1 class="page-header text-center">Lep pozdrav, Izmenovodja!</h1>
<p class="text-center lead">This is the page for the Izmenovodja role. Use the links below to manage registrations and perform tasks related to your role.</p>

<div class="card">
    <div class="card-header">
        Quick Actions
    </div>
    <div class="card-body">
        <a asp-area="" asp-page="/Izmenovodja/ConfirmRegister" class="btn btn-dark">Confirm Account</a>
        <a asp-area="" asp-page="/Izmenovodja/Index" class="btn btn-dark">Go to Index</a>
        <a asp-area="" asp-page="/Izmenovodja/LoadingCheckout" class="btn btn-dark">Loading Checkout</a>
        <a asp-area="" asp-page="/Izmenovodja/Naklad" class="btn btn-dark">Naklad</a>
    </div>
</div>
