/* General styles */
body {
    background-color: #DDDDDD;
    color: #125D98;
}

h1 {
    text-align: center;
}

h2 {
    color: #DDDDDD;
}

h3 {
    color: #125D98;
}

/* Form styles */
#account, #external-account {
    background-color: #3C8DAD;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #125D98;
    background-color: #DDDDDD;
    color: #125D98;
}

.form-floating label {
    color: #125D98;
}

.text-danger {
    color: #F5A962;
}

.form-select {
    border: 1px solid #125D98;
    background-color: #DDDDDD;
    color: #125D98;
}

.checkbox .form-label {
    color: #125D98;
}

.form-check-input {
    margin-right: 10px;
}

/* Button styles */
#login-submit {
    background-color: #125D98;
    color: #DDDDDD;
}

.btn-primary {
    background-color: #125D98;
    border-color: #125D98;
}

    .btn-primary:hover {
        background-color: #3C8DAD;
        border-color: #3C8DAD;
    }

.btn-danger {
    background-color: #F5A962;
    border-color: #F5A962;
}

    .btn-danger:hover {
        background-color: #DDDDDD;
        border-color: #DDDDDD;
        color: #125D98;
    }

/* Layout styles */
.row {
    margin: 0 auto;
}

.col-md-4, .col-md-6 {
    margin: 0 auto;
}

.col-md-offset-2 {
    margin-left: 16.6667%;
}
