/* General styles */
body {
    background-color: #A6A6A6; /* Arctic silver */
    color: #40474F; /* Hisense grey */
}

h1 {
    text-align: center;
}

h2 {
    color: #A6A6A6; /* Arctic silver */
}

/* Form styles */
#registerForm {
    background-color: #00AAA6; /* Hisense Jade */
    padding: 20px;
    border-radius: 10px;
}

.form-control {
    border: 1px solid #40474F; /* Hisense grey */
    background-color: #A6A6A6; /* Arctic silver */
    color: #40474F; /* Hisense grey */
}

.form-floating label {
    color: #40474F; /* Hisense grey */
}

.text-danger {
    color: #00AAA6; /* Hisense Jade */
}

.form-select {
    border: 1px solid #40474F; /* Hisense grey */
    background-color: #A6A6A6; /* Arctic silver */
    color: #40474F; /* Hisense grey */
}

/* Button styles */
#registerSubmit {
    background-color: #40474F; /* Hisense grey */
    color: #A6A6A6; /* Arctic silver */
}

.btn-primary {
    background-color: #40474F; /* Hisense grey */
    border-color: #40474F;
}

    .btn-primary:hover {
        background-color: #00AAA6; /* Hisense Jade */
        border-color: #00AAA6;
    }

/* Layout styles */
.row {
    margin: 0 auto;
}

.col-md-4 {
    margin: 0 auto;
}
