/* General styles */
body {
    background-color: #A6A6A6; /* Arctic silver */
    color: #40474F; /* Hisense grey */
}

.page-header {
    font-size: 2.5em;
    margin-top: 20px;
    color: #40474F; /* Hisense grey */
}

.lead {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #00AAA6; /* Hisense Jade */
}

/* Card styles */
.card {
    background-color: #00AAA6; /* Hisense Jade */
    border: 1px solid #40474F; /* Hisense grey */
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
}

.card-header {
    background-color: #40474F; /* Hisense grey */
    color: #A6A6A6; /* Arctic silver */
    font-size: 1.5em;
    padding: 10px;
    border-bottom: 1px solid #40474F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.btn-dark {
    background-color: #40474F; /* Hisense grey */
    color: #A6A6A6; /* Arctic silver */
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
}

    .btn-dark:hover {
        background-color: #00AAA6; /* Hisense Jade */
        color: #A6A6A6; /* Arctic silver */
    }
