/* Keyframe animation for horizontal wave movement */
use {
    animation: move-forever 12s linear infinite;
}

    use:nth-child(2) {
        animation-delay: -4s;
    }

    use:nth-child(3) {
        animation-delay: -8s;
    }

@keyframes move-forever {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

/* Layout styles */
body {
    margin: 0;
    overflow: hidden;
    background-color: #40474F; /* Hisense grey */
}

svg {
    width: 300vw; /* Wider so the wave can scroll across */
    height: 20vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
}

/* Applying fills to the wave paths or elements inside the SVG */
use:nth-child(1) {
    fill: #000000; /* Hisense black */
}

use:nth-child(2) {
    fill: #2EA69B; /* Hisense jade */
}

use:nth-child(3) {
    fill: #A6A6A6; /* Arctic silver */
}

g {
    transform: scale(1);
}
